.font-size {
    font-size: 12px !important;
}

.MuiInputBase-root:hover::after {
    border-bottom: 2px solid black !important;
}

.MuiInputLabel-root.Mui-focused {
    color: black !important;
}

.MuiInputBase-root:after {
    border-bottom: 2px solid #8bc34a !important;
}

.MuiMenuItem-root.Mui-selected {
    background-color: rgba(139, 195, 74, 0.2) !important;
}
