.custom-button {
  min-width: auto;
  padding: 4px;
  margin-left: 2px;
}

.custom-button.Mui-disabled {
  color: rgba(139, 195, 74, 0.5);
}

.custom-button:hover {
  background-color: rgba(139, 195, 74, 0.2);
}

.custom-button:active {
  background-color: #8bc34a;
  color: white;
}

.custom-button:focus {
  background-color: rgba(139, 195, 74, 0.2);
  color: white;
}

.container-box {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}